/* #Site Styles */
	/* #Base 960 Grid */
	/*Typography*/
	/* #Buttons */
	/* #Forms */
	/*Header and Footer*/
	/* #Page Styles */

/* #Site Styles */
body {
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 1;
	background-color: #ebebeb;
	background-image: url('../images/bg3.png');
	background-attachment: fixed;
	font-family: 'OpenSansRegular', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #434343;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

/* #Base 960 Grid */
.container { width: 1080px; margin: 0 auto; padding: 0; display: block;}
.container .column,
.container .columns  	{ float: left; display: inline; margin-left: 10px; margin-right: 10px; }
.container .sixteen.columns { width: 1060px; }
.container .one-third.column { width: 340px; }
.container .one-half.column { width: 500px; }
.container .two-thirds.column { width: 700px; }
.container .one-half.column {}
.project .wrapper .container .home img { margin-left: 90px; }
	/* #Tablet (Portrait) Note: Design for a width of 768px */

@media only screen and (min-width: 960px) and (max-width: 1079px) {
	.container  { width: 940px;  border: solid red 1px;}
	.container .column,
	.container .columns  { margin-left: 10px; margin-right: 10px;  }
	.container .sixteen.columns { width: 920px; }
	.container .one-third.column { width: 300px; }
	.container .one-half.column { width: 450px; }
	.container .two-thirds.column { width: 620px; }
	.project .wrapper .container .home img { margin-left: 0px; }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.container  { width: 748px;  border: solid orange 1px;}
	.container .column,
	.container .columns  { border: solid yellow 1px; margin-left: 10px; margin-right: 10px;  }
	.container .sixteen.columns { width: 748px; }
	.container .one-third.column { width: 240px; }
	.container .one-half.column { width: 350px; }
	.container .two-thirds.column { width: 488px; }
	.project .wrapper .container .home img { margin-left: 0px; }
}
	/*  #Mobile (Portrait) Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
	.container { width: 300px; border: solid blue 1px; }
	.container .columns,
	.container .column { margin: 0; }
	.container .sixteen.columns,
	.container .one-third.column,
	.container .one-half.column, 
	.container .two-thirds.column  { width: 300px; }
	.project .wrapper .container .home img { margin-left: 0px; }
}
	/* #Mobile (Landscape) Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container { width: 420px; border: solid green 1px;}
	.container .columns,
	.container .column { margin: 0; }
	.container .sixteen.columns,
	.container .one-third.column,
	.container .one-half.column, 
	.container .two-thirds.column { width: 420px; }
	.project .wrapper .container .home img { margin-left: 0px; }
	
}

/*Typography*/
h1, h2, h3, h4, h5, h6 {
	color: #434343;
	font-family: 'OpenSansLight', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300; }
h1 { font-size: 24px; line-height: 50px; margin-bottom: 14px;line-height: 30px;}
h2 { font-size: 24px; line-height: 40px; margin-bottom: 10px; }
h1.title{ margin-top: 60px;}
h1.dash_title{ width: 250px; }
p { margin: 0 0 20px 0; line-height: 22px; }
hr { border: solid #e5e5e5; border-width: 1px 0 0; margin: 10px 0 30px; height: 0; }

a, a:visited { color: #0082b2; text-decoration: none; outline: 0; }
a:hover, a:focus { color: #4d4d4d; }

ul {
	display:inline;
}
ul li {
	list-style: none;
}

img.scale-with-grid {
	max-width: 100%;
	height: auto; }

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:before,
	.clearfix:after,
	.row:before,
	.row:after {
	content: "";
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0; }
.row:after,
	.clearfix:after { clear: both; }
.row,
	.clearfix { zoom: 1; }
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.fright{
	float: right;
	margin: 0 auto;
}
.fleft{
	float: left;
	margin: 0 auto;
}
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:block;
}

.cf:after {
    clear:both;
}

/* #Page Styles */

/*Header and Footer*/
#header, #footer, #header_space{
	width:100%;
	position: absolute;
	display: block;
	padding: 20px 0px 20px 0px;
}
#header_space{
	background: rgba(28,28,28,0);
	position: relative;
	height: 36px;
}
#header{
	/*background: rgba(20,20,20,.9);*/
	background: rgba(255,255,255,.9);
	margin-bottom: 0px;
	position: fixed;
	z-index:20;
}
#footer{
	/*background: rgb(28,28,28);*/
	/*background:#1c1c1c;*/
	/*border-top: solid 1px #000;*/
	text-align: center;
	font-size: 12px;
}
ul.nav {
	height:30px;
	display: block;
	color: #b5b5b5;
}
#header  ul.nav{
	margin-top: 6px;
}
#footer ul.nav  {
	margin-top: 10px;
}
ul.nav li {
	display: inline;
	font-size: 14px;
}
.nav a {
	padding-left: 18px;
	padding-right: 18px;
}
.nav a:first-child {
	padding-left: 0px;
	margin-left: 0px;
}
.nav a, .nav a:visited {
	color: #b5b5b5;
	text-decoration: none;
	font-family: 'OpenSansRegular', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.nav a:hover, .nav a:focus, .nav a.active {
	color:#4d4d4d;
}
.nav a:first-child:hover, .nav a:first-child:focus, .nav a:first-child .active {
	color:#4d4d4d;
}
#head_me{
	text-align: center;
}
#header .wrapper .container .sixteen .nav.me li {
	font-size: 20px;
	margin-left: -40px;
	color: #4d4d4d;
}
#slash{
	color:#463461;
}
#position{
	color:#b5b5b5;
	font-family: 'OpenSansLight', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*0082b2*/
	/*624483*/
}
#footer {
	text-align: center;
}
#footer h2 {
	font-family: 'OpenSansItalic', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#footer .icon {
	display: inline-block;
	padding: 5px;
}
#footer .icon#linked_in{
	background: url('../images/icon_linkedin.png') no-repeat;
	height: 28px;
	width: 28px;
}
#footer .icon#twitter{
	background: url('../images/icon_twitter.png') no-repeat;
	height:28px;
	width:32px;
}
#whatam, #whatdo{
	font-size: 20px;
	margin: 60px 0 100px 0;
	text-align: center;
	color: #4d4d4d;
	font-family: 'OpenSansLight', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.prev, .next{
	margin: 60px 0 0px 0;
}
.next{
	text-align: right;
}
#hajime{
	font-weight: 400;
	font-size: 12px;
	width: 150px;
}
.subtitle{
	font-size:9px;
}
.descript{
	margin-bottom: 60px;
}
.descript .subtitle{
	padding: 8px 0px 8px 0px;
	margin-bottom: 30px;
	margin-top: -38px;
	border-bottom: solid 1px #dedede;
	text-align:right;
}
.project .wrapper .container .main{
	margin-top: 90px;
}
.project .wrapper .container img{
/*	-moz-box-shadow:    0px 1px 3px 1px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, .4);
	box-shadow:         0px 1px 3px 1px rgba(0, 0, 0, .4);*/
}
.project .wrapper .container .main img:hover {
/*-moz-box-shadow:    0px 1px 3px 1px #473157;
	-webkit-box-shadow: 0px 1px 3px 1px #473157;
	box-shadow:         0px 1px 3px 1px #473157;*/
	opacity:0.70;
	filter:alpha(opacity=70);
	cursor: pointer;
	-webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -ms-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
}
.project{
	padding: 20px 0px 40px 0px;
}
.project .wrapper .container .main{
	margin-bottom: 30px;
}
.descript{
	color: #4d4d4d;
	font-size: 14px;
}
.descript p{
	max-width: 640px;
}
}
.project .descript .title h2{
	font-size: 20px;
}
.project .descript .title h2:hover{
	color: #0082b2;
}
.content,
.project:nth-child(even){
	/*background:#554560;*/
	/*background:#262128;*/
	/*background: rgba(28,28,28, .7);*/
	background: rgba(255,255,255, .9);
	/*-moz-box-shadow:    0px 1px 5px 2px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, .4);
	box-shadow:         0px 1px 5px 2px rgba(0, 0, 0, .4);
	border-bottom: rgba(0, 0, 0, .4) solid 1px;
	border-top: rgba(0, 0, 0, .4) solid 1px;*/
}
.project:nth-child(odd){
	
}
.content.whoami{
	padding-top: 20px;
	font-size: 12px;
	line-height: 14px;
}
.aboutme{
	margin: 0px 0px 0px 8px;
	font-size: 14px;
	line-height: 21px;
}
.whoami ul li{
	padding: 2px 0px 2px 0px;
}
#contact_info {
	margin: 20px 0px 30px 0px;
	font-size: 14px;
	line-height: 14px;
}
#contact_info ul { 
	margin:  0px;
	padding: 0px;	
}
#contact_info ul li:first-child {
	border-left: none;
	padding-left: 0px;
}
.cv_sect {
	margin-bottom: 20px;
}
.cv_sect ul {}
.cv_sect ul li, 
.cv_sect ul li ul li {
	font-size: 14px;
	line-height: 16px;
}
.cv_sect h2 {
	line-height: 0px;
	font-size: 20px;
	font-family: 'OpenSansItalic', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-left: 0px;
	margin-left: 0px;
}
#experience h2 {
	margin-bottom: 24px;
}
.exp_item p,
#education ul li {
	font-size: 12px;
	line-height: 18px;
	color: #929292;
}
.exp_item p .office,
#education ul li:first-child {
	font-size: 14px;
	color: #4d4d4d;
}
#experience {
	margin-bottom: 35px;
}
.cv_sect .button a {
	padding:10px;
	color: #fff;
	display: block;
	width: 100px;
	background: #0082b2;
}
.cv_sect .button a:hover {
	background: #0082b2;
}

@media only screen and (max-width: 767px) {
	#header .wrapper .container .sixteen .nav.me li { font-size: 14px; }
	#header { padding: 10px 0px 10px 0px;}
	#header_space{ height: 26px; }
	ul.nav { height:20px; }
	#contact_info ul li{
		display:block;
		border-left: none;
	}
}
	/* #Mobile (Landscape) Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#header .wrapper .container .sixteen .nav.me li { font-size: 14px; }
	#header { padding: 10px 0px 10px 0px;}
	#header_space{ height: 26px;}
	ul.nav { height:30px; }
	#contact_info ul li{
		display:block;
		border-left: none;
		padding-left: 0px;
	}
}